body {
	background-image:url('/static/img/bg3.jpg');
	background-size: 100%;width: 100%;height: 100%;background-attachment:fixed; background-size:cover; background-position:center center;
}

.clerror {
	text-shadow: 0px 0px 2px #600;
}

.mainform {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow:0px 0px 6px rgba(0, 0, 0, 0.149019607843137);
  position: absolute; border-radius: 20px;
  left: 2%; right: 12%; top: 45px; bottom: 2%;
  text-shadow: 0px 0px 2px #666;
  padding: 2% 2.4% 2% 2.4%;
  /* z-index:9000; */
  font-weight:520 
}
.formq {
	height: 93%;
	overflow-y: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
}
.buttons {
	height: 7%;
	padding-top:5px;
}
.problist {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow:0px 0px 6px rgba(0, 0, 0, 0.149019607843137);
  position: absolute; border-radius: 5px;
  left: 90%; right: 2%; top: 45px; bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  
  /* z-index:9000; */
  /* font-weight:600 */
}
/* .problist p { */
	/* padding: 5px 1px 5px 1px */
/* } */
/* .problist a { */
	/* text-align: center; */
	/* margin: 0 auto; */
	/* color:#000; */
	/* font-size: 105%; */
	/* text-shadow: 0px 0px 5px black; */
/* } */
.problist p {
  line-height: 25px;
}
.problist a {
	text-align:center;
  display: block;
  color: #111111;
  /* text-shadow: 1px 0 0 #101011; */
  padding: 0 10px;
  /* box-shadow: 0 1px 0 #5a5b5c inset,0 1px 0 #080808; */
  text-shadow: 0px 0px 5px black;
  /* background: linear-gradient(top,#434345,#2f3032); */
}
.problist a:hover {
  text-decoration: none;
  /* box-shadow: 0 1px 0 #f9bd71 inset,0 1px 0 #0a0a0a; */
  text-shadow: 0px 0px 5px red;
  /* background: linear-gradient(top,#f48b03,#c87100); */
}	